<% if object && object.errors.size > 0 %>
  <div id="errorExplanation">
    <h2><%= pluralize(object.errors.size, "error") %> prohibited this record being saved.</h2>
    <p>There were problem with the following fields</p>
    <ul>
      <% object.errors.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>