<%= link_to("<< Back to index", {action: 'index'}, class: 'back-link') %>
<div class="page edit">
  <h2>Update Page</h2>
  <%= form_for(:page, url: {action: 'update', id: @page.id}) do |f| %>
    <%= render(partial: 'form', locals: {f: f}) %>
    <br>
    <div class="form-button">
      <%= submit_tag("Update Page") %>
    </div>
  <% end %>
</div>