<%= link_to("<< Back to index", {action: 'index'}, class: 'back-link') %>
<div class="action delete">
  <h2>Delete Subject</h2>
  <%= form_for(:subject, url: {action: 'destroy', id: @subject.id}) do |f|  %>
    <p>Are you sure you want to delete this object permanetly</p>
    <p class="reference name"><%= @subject.name %></p>
    <div class="form-button">
      <%= submit_tag("Delete Subject") %>
    </div> 
  <% end %>
</div>