<%= link_to("<< Back to index", {action: 'index'}, class: 'back-link') %>
<div class="subject edit">
  <h2>Update Subject</h2>
  <%= form_for(:subject, url: {action: 'update', id: @subject.id}) do |f| %>
    <%= render(partial: 'form', locals: {f: f}) %>
    <br>
    <div class="form-button">
      <%= submit_tag("Update Subject") %>
    </div>
  <% end %>
</div>