<%= link_to("<< Back to index", {action: 'index'}, class: 'back-link') %>
<div class="subject new">
  <h2>Create Subject</h2>
  <%= form_for(:subject, url: {action: 'create'}) do |f| %>
    <%= render(partial: 'form', locals: {f: f}) %>
    <br>
    <div class="form-button">
      <%= submit_tag("Create Subject") %>
    </div>
  <% end %>
</div>